@using ITB.Business
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link href="http://designmodo.github.io/Flat-UI/dist/css/flat-ui.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("( ITBAY )", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Profile", "Index", "Home")</li>
                        <li>@Html.ActionLink("Dashboard", "Dashboard", "Home")</li>
                        if (User.IsInRole(EntityRole.Client.ToString().ToLower()))
                        {
                            <li>@Html.ActionLink("Projects", "Project", "Client")</li>
                            <li>@Html.ActionLink("Positions", "Project", "Client")</li>
                        }
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="row  @(this.ViewContext.RouteData.Values["controller"].ToString() == "Account" ? "itbay_bg" : "")">
        <div class="container body-content @(this.ViewContext.RouteData.Values["controller"].ToString() == "Account" ? "" : "content-box")">
            @RenderBody()
        </div>
        
    </div>
    <footer>
        <div class="container top_30">
            <p>&copy; @DateTime.Now.Year - SLVN GROUP.<br />Copyrights belong to the future LTD ITBAY.<br />All rights reserved. For additional information please contact the development team<br />at hello at slvngroup.com</p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")

    <script src="http://designmodo.github.io/Flat-UI/dist/js/flat-ui.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script>
    <script>
        //credit to Bill Criswell for this filter
        Vue.filter('truncate', function (text, stop, clamp) {
            return text.slice(0, stop) + (stop < text.length ? clamp || '...' : '')
        })
        Vue.component('panel-card', {
            data: function () {
                return {
                }
            },
            props: ['message'],
            template: '<div class="panel panel-success small">'+
                '<div class="panel-body">{{message}}</div>'+
            '</div>'
        })
    </script>
    @RenderSection("scripts", required: false)


    <!-- Modals -->
    <!-- inviteModal -->
    <div class="modal fade" id="inviteModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title pull-left"></h5>
                    <button type="button" class="close pull-right" data-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="panel panel-success panel-body small">
                        You are going to send an invintation to the selected contractor. Select a project you need his help with.
                    </div>
                    <hr />
                    <select class="form-control select select-primary projects" data-toggle="select">
                        <option value="0" selected>Choose hero</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary invite">Send an invite</button>
                </div>
            </div>
        </div>
    </div>
    <!-- messageModal -->
    <div class="modal fade" id="messageModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title pull-left"></h5>
                    <button type="button" class="close pull-right" data-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Recipient:</label>
                            <input type="text" class="form-control" disabled id="recipient-name">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Message:</label>
                            <textarea class="form-control" id="message-text"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary message">Send message</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>